* {
    box-sizing: border-box;
    color: #ffd38c;
}

body {
    background-color: #222222;
    padding: 20px;
}

nav{
    background-color: #222222;
}

img {
    max-height: 100%; 
    max-width: 100%;  
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; 
}

.card {
    display: flex;
    background-color: #353535;
    padding: 20px;
    margin-top: 20px;
    width: 60%;
    max-height: auto;
}

.content-container {
    display: flex;
    align-items: flex-start; 
}
  
.image-container {
    margin-right: 20px; 
    overflow: hidden;
    max-width: 40%; 
}

.comment-container {
    flex-grow: 1;
}

.comment-container p {
    inline-size: 400px;
    overflow-wrap: break-word;
}


